.custom-card2 {
    width: 50%;
}
.pb2 {
    padding-bottom: 70px;
}
.card .card-content2 {
    height: 80px;
}
.card-price2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price2 i {
    font-size: 1.3rem;
}
.card-price2 b {
    color: red;
}

