.custom-card {
    width: 33.3333%;
}
.pb {
    padding-bottom: 70px;
}
.card .card-content {
    height: 120px;
}
.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price i {
    font-size: 1.3rem;
}
.card-price b {
    color: red;
}
.img {
    cursor: pointer;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}