.alert-body {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
}
.alert-title {
    color: rgb(0, 0, 135);
    font-family: 'Source Sans Pro', sans-serif;
}
.alert-opacity-block {
    position: fixed;
    background-color: rgba(4, 4, 4,0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}
.alert-btns {
    display: flex;
    justify-content: space-between;
}