.main-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-opacity {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0,0.5);
}
.modal-body {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 12;
   transform: translate(-50%,-48%);
   background-color: rgb(255, 255, 255);
   width: 600px;
   height: 500px;
}
.modal-img {
    display: flex;
}
.custom-btn {
    position: relative;
    left: 5%;
    bottom: 10%;
    margin-top: 82px;
}
.modal-description {
    display: flex;
}
.modal-description p {
    width: 80%;
}
.modal-price {
    width: 100%;
    padding: 15px;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}
