.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 167);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}
.logo {
    font-size: 1.5rem;
    color: white;

}
.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style:none;
    width: 50%;
    justify-content: space-between;
}
.nav-list li {
    color: white;
    cursor: pointer;
    transition-duration: 1s;
}
.nav-list li:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}