.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(15, 15, 167);
    color: whitesmoke;
    font-size: 1.4rem;
}