@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(196, 195, 193);
}
.main {
  height: 100vh;
  padding-top: 70px;
}
.img {
  height: 250px;
}